---
Language: Cpp
BasedOnStyle: LLVM

IndentWidth: 2
TabWidth: 2
AccessModifierOffset: -2
NamespaceIndentation: All
IndentCaseLabels: true

AlignConsecutiveAssignments: true
AlignConsecutiveMacros: true
AlignConsecutiveDeclarations: AcrossEmptyLines
PointerAlignment: Left

ColumnLimit: 180
BreakBeforeBraces: Attach
AlwaysBreakTemplateDeclarations: Yes

AllowShortIfStatementsOnASingleLine: Never
SortIncludes: false
SortUsingDeclarations: false
FixNamespaceComments: false
---
