BasedOnStyle: LLVM

Language: Cpp

IndentWidth: 4
ContinuationIndentWidth: 4
TabWidth: 4
UseTab: Never

ColumnLimit: 100

DerivePointerAlignment: false
PointerAlignment: Left
ReferenceAlignment: Left

BreakBeforeBraces: Custom
BraceWrapping:
  AfterClass: true
  AfterStruct: true
  AfterEnum: true
  AfterFunction: true
  AfterNamespace: true
  AfterControlStatement: true
  AfterExternBlock: true
  BeforeCatch: true
  BeforeElse: true
  BeforeLambdaBody: true
  SplitEmptyFunction: true
  SplitEmptyRecord: true
  SplitEmptyNamespace: true

NamespaceIndentation: Inner
CompactNamespaces: false
FixNamespaceComments: true

AllowShortFunctionsOnASingleLine: None
AllowShortBlocksOnASingleLine: Never
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: false

IndentCaseLabels: false

SpaceBeforeParens: ControlStatements
SpacesInParentheses: false
SpaceInEmptyParentheses: false

BreakConstructorInitializers: BeforeComma
ConstructorInitializerIndentWidth: 4
SpaceBeforeCtorInitializerColon: true

SortIncludes: CaseSensitive

AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: false
AlignTrailingComments: false

BinPackArguments: true
BinPackParameters: true

Cpp11BracedListStyle: true
SpaceBeforeCpp11BracedList: false

KeepEmptyLinesAtTheStartOfBlocks: false
MaxEmptyLinesToKeep: 1
