---
Language: Cpp
BasedOnStyle: LLVM

IndentWidth: 2
TabWidth: 2
UseTab: Never

AccessModifierOffset: -2
NamespaceIndentation: All
IndentCaseLabels: true

ColumnLimit: 180
BreakBeforeBraces: Attach

PointerAlignment: Left
AlignAfterOpenBracket: Align

AlignConsecutiveMacros: true
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: AcrossEmptyLines
AlignTrailingComments: true

AllowShortIfStatementsOnASingleLine: Never
AllowShortFunctionsOnASingleLine: Empty

IncludeBlocks: Preserve
SortIncludes: false
SortUsingDeclarations: false

ReflowComments: false

SpacesInParentheses: false
SpacesInSquareBrackets: false
SpacesInAngles: false
SpaceBeforeParens: ControlStatements
SpaceBeforeRangeBasedForLoopColon: true
SpacesBeforeTrailingComments: 1

BraceWrapping:
  AfterEnum: false
